h1{
  color: rgb(30, 30, 30);
  text-align: center;
  background-color: Gray;
  font-style: italic;
  font-family:sans-serif;
}
/*The main header is black*/
h3{
  text-decoration: underline;
}
body{
  color: rgb(100, 20, 100); /*This is a purple colour*/
  background-color: Silver;
  font-family:sans-serif;
  display: flex;
  flex-direction: column;
}

header{
  background-color: Gray;
  display: flex;
  justify-content: space-between;
}

img{
  width:300px;
}

a{
  text-decoration: none;
}

.nav-bar{
  text-decoration: none;
  color: rgb(100, 20, 100);

}

.thumbnail-list {
    list-style: none;
    padding: 0;
    flex: 0 1 auto;
    order: 2;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow-x: auto;
}
/*I got some of this thumbnail code from ottergram*/

.thumbnail-title {
  text-decoration: none;
}
