h1 {
  color: rgb(30, 30, 30);
  text-align: center;
  background-color: Gray;
  font-style: italic;
  font-family: "Aref Ruqaa" ,serif; /*https://fonts.google.com/specimen/Aref+Ruqaa?selection.family=Aref+Ruqaa*/
  margin: 0.5em;
}
/*The main header is black*/

h3 {
  text-align: center;
  font-style: italic;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(100, 20, 100); /*This is a purple colour*/
  background-color: Silver;
  font-family: "Aref Ruqaa" ,serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

header {
  text-align: center;
  background-color: Gray;
  display: flex;
  justify-content: space-between;
}

footer{
  background-color: Gray;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

ul {
  list-style-type: none;
}

img {
  margin-left: auto;
  margin-right: auto;
  width:200px;
  align-items: center;
}
/*https://www.w3.org/Style/Examples/007/center.en.html#block*/

a {
  align-items: center;
  text-decoration: none;
}

.nav-bar {
  text-decoration: none;
  color: rgb(100, 20, 100);
}

.nav-bar:hover {
  background-color: silver;
}

.thumbnail-title {
  text-decoration: none;
}

.thumbnail-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
